.news-list {
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 960px;
    margin: 0 auto;

    position: relative;
    top: -50px;

    background-color: $bg-color;
}

.news-list__item {
	width: 480px;

	padding-left: 60px;
	padding-top: 50px;
	padding-right: 70px;
	padding-bottom: 60px;

    border: 0.5px solid #ededed;

	box-sizing: border-box;
}