// Fonts
$font-default: 'Roboto';
$font-din: 'DIN Pro';
$font-gilroy: 'Gilroy';

// Color
$white: #fff;
$black: #000;
$soft-black: #222222;
$dirty-black: #161616;
$orange: #ffa500;
$gray: #f0f8ff;
$soft-gray: #F7F5FA;

// Color block
$bg-color: $white;
$font-color: $black;
$color-text--orange: $orange;
$bg-button: $gray;
$color-plus: $orange;
$card-news__category: $orange;
$card-news__text: $soft-black;
$news-box: $soft-gray;
$advantages: $soft-gray;
$border-heading: $orange;
$bg-form: $dirty-black;
$border-input: $soft-gray;
$number: $orange;

